/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body or utilities  */
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}

.container {
    width: 1050px;
    margin-top: 50px;
    
}
/* Header styles */
header{
    background: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-players {
    margin-bottom: 86px;
    margin-top: 123px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.para-heading{
    font-weight: 700;
    color:#FFFFFF;
    font-size: 64px;
    margin-bottom: 27px;
    line-height: 79px;
}
a.link-btn {
    color: #FFFFFF;
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 2px;
    transition: .5s linear;
}
a.link-btn:hover {
    background: #8b0637;
}
a > i {
    margin-left: 6px;
    font-size: 15px;
}
.player-img-right img {
    width: 556.01px;
    height: 438px;
}

/* Main section styles */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Mid-section-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 45px;
}
.player {
    width: 300px;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .img-thumbnail img {
    width: 300px;
    height: 256px;
}
.player-name {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}
.player-info p {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}

/*-----------------------
    Footer Bottom Styles
------------------------*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 153px;
}
.footer-box img {
    width: 483.87px;
    height: 110px;
}
.social-icon {
    display: flex;
    justify-content: center;
}

.social-icon  a {
    text-decoration: none;
    color: #888787;
}

.social-icon i {
    font-size: 26px;
    margin-right: 6px;
    transition: .4s linear;
}

.social-icon a:hover i {
    transform: scale(1.5);
}

.coppy-write-sec {
    text-align: center;
    font-size: 18px;
    color: #353535;
}